@model ShopDb.Models.Product

@{
    ViewData["Title"] = "Details";
}

<div class="p-4 bg-light bg-semitransparent">
    <h1 class="navbar-brand" style="color: #5e9693;">Tuotteen tiedot</h1>
    <div>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                Nimi
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">
                Kuvaus
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class = "col-sm-2">
                Hinta
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Price) €
            </dd>
            <dt class = "col-sm-2">
                Tuotteita varastossa
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Quantity) kpl
            <dt class = "col-sm-2">
                Kategoria
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Category.Name)
            </dd>
            <dd class = "col-sm-10">
                <img src="@(Model.PictureUrl !=null ? Model.PictureUrl :"https://mdbootstrap.com/img/new/standard/nature/184.jpg")" class="img-fluid" alt="...">
            </dd>
        </dl>
    </div>
    <div>
        @if (@Model.Quantity > 0)
        {
            <a class="btn btn-secondary" asp-action="AddToCart" asp-controller="Home" asp-route-id="@Model?.Id">Lisää ostoskoriin</a>
        }
        else
        {
            <button type="button" class="btn btn-secondary" disabled>Tuote ei saatavilla</button>
        }
        <a class="btn btn-light" asp-action="Index">Kaikki tuotteet</a>
    </div>
</div>
