@model IEnumerable<ShopDb.Models.Product>

@{
    ViewData["Title"] = "GetProductsByCategory";
}

<h1>Tuotevalikoima</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
               @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                Nimi
            </th>
            <th>
                Tuotekuvaus
            </th>
            <th>
                Tuoteryhmä
            </th>
            <th>
                Nimi
            </th>
            <th>
                Varastossa
            </th>
           @* <th>*@
                
                @*@Html.DisplayNameFor(model => model.PictureUrl)*@
            @*</th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.PictureUrl)
            </td>*@
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |*@
                <a asp-action="Details" asp-controller="Product" asp-route-id="@item.Id">Tuotteen tiedot</a> |
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */}) |*@
                @*@Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
