@model IEnumerable<ShopDb.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Tuotevalikoima</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Nimi
            </th>
            <th>
                Tuotekuvaus
            </th>
            <th>
                Hinta
            </th>
            <th>
                Varastossa
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.PictureUrl)
            </th>*@
            <th>
                Tuoteryhmä
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.PictureUrl)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Tuotteen tiedot</a> |
            </td>
        </tr>
}
    </tbody>
</table>
