@model IEnumerable<ShopDb.Models.OrderRow>

@{
    ViewData["Title"] = "OrderDetails";
}

<div class="container-sm container rounded bg-white bg-semitransparent mt-5 mb-auto" style="padding: 2vw">

    <h1 class="navbar-brand text-center" style="color: #5e9693;">Tilauksen tiedot</h1>

<div class="text-center">
    <table class="table">
        <tr>
            <td>
                Tilauspäivä:
            </td>
            <td>
                @Model.First().Order.Date.ToString("dd.MM.yyyy")
            </td>
        </tr>
                <tr>
            <td>
                Toimituspäivä:
            </td>
            <td>
                @Model.First().Order.Date.AddDays(3).ToString("dd.MM.yyyy")
            </td>
        </tr>
        <tr>
            <td>
                Summa:
            </td>
            <td>
                @Model.First().Order.TotalPrice €
            </td>
        </tr>
    </table>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                Tuote
            </th>
            <th>
                Hinta
            </th>
            <th>
                Lkm
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) €
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity) kpl
            </td>
        </tr>
}
    </tbody>
</table>
<div class="text-center">
@Html.ActionLink("Takaisin tilauksiin", "OrderHistory", "User", null, new {@class="btn btn-secondary"})
</div>
            </div>