@model IEnumerable<ShopDb.Models.ShoppingCartRow>

@{
    ViewData["Title"] = "Ostoskori";
}
<div class="p-4 bg-light bg-semitransparent">
<h1>Ostoskori</h1>

@{if (Model.Count() < 1)
    {
    <p>Ostoskori on tyhjä</p>
    }
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    Tuote
                </th>
                <th>
                    Hinta
                </th>
                <th>
                    Lkm
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Price) €
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <a asp-action="Details" asp-controller="Product" asp-route-id="@item.ProductId">Tuotteen tiedot</a> |
                    <a asp-action="DeleteFromCart" asp-route-id="@item.Id">Poista tuote korista</a>
                </td>
            </tr>
}
        </tbody>
    </table>
    <div class="text-center">
    Yhteensä: @Model.Sum(m => m.Product.Price * m.Quantity) €
</div>
<br/>
<div class="text-center">
@Html.ActionLink("Siirry maksamaan", "ConfirmOrder", "Home", new {id = Model.First().ShoppingCartId, total = Model.Sum(m => m.Product.Price * m.Quantity) }, new {@class="btn btn-secondary"})
</div>
}
}
</div>