<!DOCTYPE html>
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor
<html lang="en">
<head>
    <br />
    <br />
    <br />
    <br />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ShopDb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top mask-custom shadow-0">
            <div class="container">
                <a class="navbar-brand" href="/"><span style="color: #5e9693;">Kaluste</span><span style="color: #fff;">.Net</span></a>
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                        data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Tuotteet</a>
                            <div class="dropdown-menu">
                                @Html.ActionLink("Kaikki tuotteet", "Index","Product", null, new {@class="dropdown-item",})
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("Sohvat", "GetProductsByCategory","Product",new { id=1 }, new {@class="dropdown-item",})
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("Pöydät", "GetProductsByCategory","Product",new { id=2 }, new {@class="dropdown-item",})
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("Tuolit", "GetProductsByCategory","Product",new { id=3 }, new {@class="dropdown-item",})
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("Sängyt", "GetProductsByCategory","Product",new { id=4 }, new {@class="dropdown-item",})
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("Matot", "GetProductsByCategory","Product",new { id=5 }, new {@class="dropdown-item",})
                                <div class="dropdown-divider"></div>
                                @Html.ActionLink("Valaisimet", "GetProductsByCategory","Product",new { id=6 }, new {@class="dropdown-item",})

                            </div>
                        </li>
                    </ul>

                    <form method="post" class="d-flex form-inline my-2 my-lg-0" asp-action="GetProductsByName" asp-controller="Product">
                        <input name=name class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>

                    <ul class="navbar-nav ms-auto ">
                        @{
                            var id = HttpContextAccessor.HttpContext.Session.GetInt32("userId");
                            var nimi = HttpContextAccessor.HttpContext.Session.GetString("userName");
                        }
                        @{
                            if (id == null)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Login">Login</a>
                                </li>
                            }
                        }
                        @{
                            else
                            {
                                <li class="nav-item form-inline my-2 my-lg-0">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="ShoppingCart">
                                        Ostoskori
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart mb-1" viewBox="0 0 16 16">
                                          <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                        </svg>
                                     
                                    </a>

                                </li>
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">@nimi</a>
                                    <div class="dropdown-menu">
                                        @Html.ActionLink("Profiili", "ProfilePage", "User", null, new {@class="dropdown-item",})
                                        <div class="dropdown-divider"></div>
                                        @Html.ActionLink("Tilaukset", "OrderHistory", "User", null, new {@class="dropdown-item",})
                                        <div class="dropdown-divider"></div>
                                        @Html.ActionLink("Kirjaudu ulos", "LogOut", "User", null, new {@class="dropdown-item",})
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
